{
  "backend_uri": "http://securegate:3000/graphql",
  "ssh_user": "gateuser",
  "agent_authentication_token": "",
  "language": "en",
  "mongo_uri": "mongodb://localhost:27017/",
  "mongo_db_name": "securegate"
}